In [691]:
#how to create a series from a list, numpy array and dict?
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int32

In [692]:
# how to convert the index of a series into a columns of a dataframes?
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [693]:
# how to combine many series to from a dataframe? 
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
# Solution 1
df = pd.concat([ser1, ser2], axis=1)
df.head()
# Solution 2 
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [694]:
# How to assign name to the series index?
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [695]:
# How to get items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [696]:
 # How to get the items not common to both series A and series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u = pd.Series(np.union1d(ser1, ser2)) #union
ser_i = pd.Series(np.intersect1d(ser1, ser2)) #intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [697]:
# How to get the minimum, 25th percentile, median, 75th, and max of numeric series?
ser = pd.Series(np.random.normal(10, 5, 25))
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

In [698]:
# How to get frequency counts of unique items of a series?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))
ser.value_counts()

e    7
c    7
d    6
a    3
g    2
f    2
h    2
b    1
dtype: int64

In [699]:
# How to keep only top 2 most frequent values as it is and replace everything else as 'Other'?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print('Top 2 Freq:', ser.value_counts())
ser[~ser.isin(ser.value_counts().index[0:2])] = 'Other'
ser

Top 2 Freq: 1    4
3    3
4    3
2    2
dtype: int64

0         1
1         1
2         1
3         3
4     Other
5     Other
6     Other
7         3
8     Other
9         1
10    Other
11        3
dtype: object

In [700]:
# How to bin a numeric series to 10 groups of equal size?
ser = pd.Series(np.random.random(20))
print(ser.head())
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],
        labels = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th','9th', '10th']).head()

0    0.586975
1    0.481659
2    0.990348
3    0.731821
4    0.202730
dtype: float64

0     6th
1     5th
2    10th
3     8th
4     2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [701]:
# How to convert a numpy array to a dataframe of given shape
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  1  8  3  7  7
1  9  7  7  7  6
2  2  9  5  8  5
3  8  3  9  9  5
4  5  3  9  9  9
5  4  3  3  7  7
6  3  9  7  2  9

In [702]:
# How to find the positions of numbers that are multiples of 3 from a series?
ser = pd.Series(np.random.randint(1, 10, 7))
ser
#np.argwhere(ser % 3 == 0)
# i can't solve the problem, i will look again later.

0    7
1    7
2    3
3    3
4    9
5    9
6    7
dtype: int32

In [703]:
# How to extract items at given position from a series
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [704]:
# How to stack two series vertically and horizontally?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
# Vertical
ser1.append(ser2)
# Horizontal
df = pd.concat([ser1, ser2], axis=1)
df

C:\Users\fatih\AppData\Local\Temp\ipykernel_3360\1222463864.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [705]:
# How to get positions of items of series A in another series B?
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]
# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [706]:
# How to compute the mean squared error on an truth and predicted series?
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.4469483866084727

In [707]:
# How to calculate the number of characters in each word in a series?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [708]:
# How to compute difference of differences between consequtive numbers of a series?
ser = pd.Series([1, 3 , 6, 9, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 3.0, 6.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 0.0, 3.0, 0.0, 0.0, 2.0]

In [709]:
# How to convert a series of date-string to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))
# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [710]:
# How to get the day of month, week number, day of year and day of week from a series of date strings?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))
# day of month
print('Date: ', ser_ts.dt.day.tolist())
# week number
print('Week number: ', ser_ts.dt.weekofyear.tolist())
# day of year
print('Day number of year: ', ser_ts.dt.dayofyear.tolist())
# day of week
print('Day of week: ', ser_ts.dt.day_of_week.tolist())
# i can't solve 'day of week', i will look again later.

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]

C:\Users\fatih\AppData\Local\Temp\ipykernel_3360\3826999489.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print('Week number: ', ser_ts.dt.weekofyear.tolist())